client/TextUserInterface/obj/Debug/netcoreapp5.0.0/TextUserInterface.dll
client/TextUserInterface/obj/Debug/netcoreapp5.0.0/TextUserInterface.pdb
client/TextUserInterface/obj/Debug/netcoreapp5.0.0/ref/TextUserInterface.dll
